<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finnotive.mlm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/finna"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".DemoWinner"> </activity>
        <activity android:name=".RenewGroup" />
        <activity android:name=".Winner" />
        <activity android:name=".WithrawHistory" />
        <activity android:name=".PaymentHistory" />
        <activity
            android:name=".ViewProfile"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ViewShare"
            android:launchMode="singleInstance" />
        <activity
            android:name=".withdrawalRequest"
            android:launchMode="singleInstance" />
        <activity
            android:name=".rechargeByBank"
            android:launchMode="singleInstance" />
        <activity
            android:name=".transferEwallet"
            android:launchMode="singleInstance" />
        <activity
            android:name=".fundTransfer"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ProfileActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".PaymentConfirmation"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".GroupJoining"
            android:launchMode="singleInstance" />
        <activity
            android:name=".shareamount"
            android:launchMode="singleInstance" />
        <activity
            android:name=".submit"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ticket_history"
            android:launchMode="singleInstance" />
        <activity
            android:name=".generateticket"
            android:launchMode="singleInstance" />
        <activity
            android:name=".helpdesk"
            android:launchMode="singleInstance" />
        <activity
            android:name=".setting"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.tools.refer"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.tools.mycommunity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.tools.mybusiness"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.tools.Referrallist"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.tools.Main2Activityaddnew"
            android:launchMode="singleInstance" />
        <activity
            android:name=".mycommunitynetwork"
            android:launchMode="singleInstance" />
        <activity
            android:name=".topup"
            android:launchMode="singleInstance" />
        <activity
            android:name=".sendconfirm"
            android:launchMode="singleInstance" />
        <activity
            android:name=".sendtoewallet"
            android:launchMode="singleInstance" />
        <activity
            android:name=".confirm"
            android:launchMode="singleInstance" />
        <activity
            android:name=".withraw"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Iwallet"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Ewallet"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Dashboad"
            android:label="@string/title_activity_dashboad"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signup"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Login"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>